/* Estilo general */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Título */
.titulo {
    font-size: 2rem;
    margin: 20px 0;
}

/* Imagen */
#love-img {
    width: 150px;
    animation: bounce 1.5s infinite;
}

/* Botones */
.buttons-container {
    margin: 20px;
    position: relative;
    height: 150px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#btn-si {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1);
}

.evasive {
    position: absolute;
}

/* Modales */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-content {
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

#confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}